<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Update person</title>
  </head>
  <body>

    <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
      <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
      <label for="name">Name: </label>
      <input type="text" th:field="*{name}" id="name"/> <br>

      <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</p>
      <label for="age">Age: </label>
      <input type="text" th:field="*{age}" id="age"/> <br>

      <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</p>
      <label for="email">Email: </label>
      <input type="text" th:field="*{email}" id="email"/> <br>

      <input style="margin-top: 1%" type="submit" value="Update!">
    </form>

  </body>
</html>